:root {
    --profile-icon: url("/src/assets/images/profile.jpg");
    --profiles-detail-icon: url("/src/assets/images/profiles-detail.jpg");
    --profiles-icon: url("/src/assets/images/profiles.jpg");



}